<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>CTFx - A CTF Platform</title>
</head>
<body>
    <%- include('nav.ejs'); %>
    <section class="hero is-large is-warning">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="title">Welcome to CTFx</div>
                    <div class="subtitle">Challenge Yourself. Learn Cybersecurity. Grow Together.</div>
                </div>
                <div class="column">
                    <img src="flag.png"/> 
                </div>
            </div>
        </div>
    </section>
    <section class="section is-medium">
        <div class="is-size-4">CTFx is your go-to platform for practicing Capture the Flag (CTF) challenges in cybersecurity. Whether you're just getting started or are an experienced professional, CTFx offers a variety of challenges across domains like cryptography, web security, and reverse engineering. Our goal is to make learning cybersecurity hands-on, accessible, and collaborative.</div>
    </section>
   
</body>
</html>